<form action="/employee/register" method="post">
    <label for="name">EmployeeName:</label>
    <input type="text" required class="form-control" id="name" name="name">
    <label for="dept">Department:</label>
    <input type="text" required class="form-control" id="dept" name="dept">
    <label for="sal">Salary:</label>
    <input type="text" required class="form-control" id="sal" name="sal">
    <label for="email">Email:</label>
    <input type="email" required class="form-control" id="email" name="email">
    <label for="password">Email:</label>
    <input type="passwprd" required class="form-control" id="password" name="password">
    <button type="submit" class="btn btn-default btn-success">Register</button>
</form>

